@media (min-width:600px) {
    ul li {
        display: inline;
    }
    aside {
        width: 10%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 20px;
        background-color: yellow;
    }
    body {
        margin-left: 10%; /* Same as the width of the sidenav */
        padding: 0px 10px;
      }
    article {
        background-color: white;
    }
    img {
        width: 100%;
    }
    /*.container { 
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        grid-gap: 20px;
        background-color: rgb(255, 255, 255);
    }
    .container > article:nth-child(1) {
        grid-column: span 2;
    }*/
}